/* 
		_footer.scss
*/

/*
										---FOOTER---
*/



#footer{
	position: relative;
	//min-height: 150px;
	line-height: 170%;
	overflow: hidden;
	background-repeat: no-repeat;
	
	//background-size: cover;
	color: white;
	background-position: center 150px;
	&:before{
		font-size: 150px;
		position: absolute;
		top: 0 ;
	}
	h1{
		border-left: 0;
	}
	@media (min-width: 991px) {
		background-image: url('../img/other/light.png');
	}
}
.footer-content{
	padding-top: 30px;
	.container{

	}
	.ls-icon-placeholder{
		&:before{
			font-size: 350px;
    	position: absolute;
    	top: 0;
    	color: rgba(white, 0.05);
    	line-height: 100%;
		}
	}
	@media (max-width: 991px) {
		.container{
			padding-bottom: 0;
		}
		.align-center{
			flex-direction: column;
		}
	}
}

.footer-logo{
	text-align: center;
	img{
		width: 140px;
	}
	@media (max-width: 991px) {
		display: none;
	}
}
.footer-socicons{
	font-size: 25px;
	li{
		display: inline-block;
		transition: all 0.3s ease;
		text-align: center;
		margin-left: 15px;
		color: $color-1;
		&:nth-child(1){
			margin-left: 0;
		}
		a{
			display: flex;
			height: 100%;
			align-items: center;
			i{
				width: 100%;
			}
		}
		&:hover{
			border-color: $color-1;
			color: white;
		}
	}
	.fa-paper-plane{
		font-size: 16px;
		transform: translate(-1px, 0);
	}
	.fa-instagram{
		//font-size: 20px;
	}
	.fa-facebook{
		//font-size: 20px;
	}
}

.footer-feedback{
	.form-footer{
		margin-top: 30px;
	}
	@media (min-width: 991px) {
		.form-footer{
			margin-top: 75px;	
		}
	}
}


.copy-content{
	padding-bottom: 30px;
}
.dev{
	font-size: 0.9em;
}

