@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xxd3xx');
  src:  url('fonts/icomoon.eot?xxd3xx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xxd3xx') format('truetype'),
    url('fonts/icomoon.woff?xxd3xx') format('woff'),
    url('fonts/icomoon.svg?xxd3xx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icm-"], [class*=" icm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icm-advantage-1:before {
  content: "\e900";
}
.icm-advantage-2:before {
  content: "\e901";
}
.icm-advantage-3:before {
  content: "\e902";
}
.icm-advantage-4:before {
  content: "\e903";
}
.icm-advantage-5:before {
  content: "\e904";
}
.icm-arrow-down:before {
  content: "\e905";
}
.icm-calendar:before {
  content: "\e906";
}
.icm-envelope:before {
  content: "\e907";
}
.icm-facebook:before {
  content: "\e908";
}
.icm-instagram:before {
  content: "\e909";
}
.icm-map-marker:before {
  content: "\e90a";
}
.icm-odnoklassniki:before {
  content: "\e90b";
}
.icm-phone:before {
  content: "\e90c";
}
.icm-services-1:before {
  content: "\e90d";
}
.icm-services-2:before {
  content: "\e90e";
}
.icm-services-3:before {
  content: "\e90f";
}
.icm-services-4:before {
  content: "\e910";
}
.icm-services-5:before {
  content: "\e911";
}
.icm-services-6:before {
  content: "\e912";
}
.icm-services-7:before {
  content: "\e913";
}
.icm-telegram:before {
  content: "\e914";
}
.icm-timework:before {
  content: "\e915";
}
.icm-zoom:before {
  content: "\e916";
}
.icm-zoom-in:before {
  content: "\e917";
}
