@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?xxd3xx');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?xxd3xx#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?xxd3xx') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?xxd3xx') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?xxd3xx##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icm-"], [class*=" icm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icm-advantage-1 {
  &:before {
    content: $icm-advantage-1; 
  }
}
.icm-advantage-2 {
  &:before {
    content: $icm-advantage-2; 
  }
}
.icm-advantage-3 {
  &:before {
    content: $icm-advantage-3; 
  }
}
.icm-advantage-4 {
  &:before {
    content: $icm-advantage-4; 
  }
}
.icm-advantage-5 {
  &:before {
    content: $icm-advantage-5; 
  }
}
.icm-arrow-down {
  &:before {
    content: $icm-arrow-down; 
  }
}
.icm-calendar {
  &:before {
    content: $icm-calendar; 
  }
}
.icm-envelope {
  &:before {
    content: $icm-envelope; 
  }
}
.icm-facebook {
  &:before {
    content: $icm-facebook; 
  }
}
.icm-instagram {
  &:before {
    content: $icm-instagram; 
  }
}
.icm-map-marker {
  &:before {
    content: $icm-map-marker; 
  }
}
.icm-odnoklassniki {
  &:before {
    content: $icm-odnoklassniki; 
  }
}
.icm-phone {
  &:before {
    content: $icm-phone; 
  }
}
.icm-services-1 {
  &:before {
    content: $icm-services-1; 
  }
}
.icm-services-2 {
  &:before {
    content: $icm-services-2; 
  }
}
.icm-services-3 {
  &:before {
    content: $icm-services-3; 
  }
}
.icm-services-4 {
  &:before {
    content: $icm-services-4; 
  }
}
.icm-services-5 {
  &:before {
    content: $icm-services-5; 
  }
}
.icm-services-6 {
  &:before {
    content: $icm-services-6; 
  }
}
.icm-services-7 {
  &:before {
    content: $icm-services-7; 
  }
}
.icm-telegram {
  &:before {
    content: $icm-telegram; 
  }
}
.icm-timework {
  &:before {
    content: $icm-timework; 
  }
}
.icm-zoom {
  &:before {
    content: $icm-zoom; 
  }
}
.icm-zoom-in {
  &:before {
    content: $icm-zoom-in; 
  }
}

