$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-advantage-1: "\e900";
$icm-advantage-2: "\e901";
$icm-advantage-3: "\e902";
$icm-advantage-4: "\e903";
$icm-advantage-5: "\e904";
$icm-arrow-down: "\e905";
$icm-calendar: "\e906";
$icm-envelope: "\e907";
$icm-facebook: "\e908";
$icm-instagram: "\e909";
$icm-map-marker: "\e90a";
$icm-odnoklassniki: "\e90b";
$icm-phone: "\e90c";
$icm-services-1: "\e90d";
$icm-services-2: "\e90e";
$icm-services-3: "\e90f";
$icm-services-4: "\e910";
$icm-services-5: "\e911";
$icm-services-6: "\e912";
$icm-services-7: "\e913";
$icm-telegram: "\e914";
$icm-timework: "\e915";
$icm-zoom: "\e916";
$icm-zoom-in: "\e917";

